* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
  box-sizing: content-box;
}
.container {
  display: flex;
  flex-flow: column nowrap;
  gap: 4rem;
}
nav {
  padding: 1.8rem 1.8rem;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #ffc936;
  gap: 4rem;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, 0.2);
}
.navigation-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.navigation-item li a {
  color: #333;
}
.btn {
  text-transform: capitalize;
  border: solid 1px transparent;
  font-size: 18px;
}
.login {
  background-color: transparent;
}
.register {
  padding: 8px;
  border-radius: 36px;
}
.nav-item-topic {
  text-align: center;
  text-transform: capitalize;
  font-size: 18px;
  color: #333;
}
.page-name a {
  font-size: 24px;
  text-transform: uppercase;
  color: #333;
  font-weight: bold;
}
footer {
  background-color: #14213d;
  padding: 5rem;
  display: flex;
  gap: 4rem;
  justify-content: space-between;
}
.footer-item-topic {
  color: #fff;
}
.footer-item {
  display: flex;
  flex-flow: column nowrap;
  gap: 0.8rem;
}
nav section {
  width: 80%;
}
