.lobby {
  display: flex;
  flex-flow: column nowrap;
  gap: 3rem;
  padding: 5% 10%;
  background-color: black;
}
.lobby-image {
  width: 70%;
  padding-left: 15%;
}
.lobby-call {
  display: flex;
  flex-flow: column nowrap;
  text-align: center;
  gap: 1rem;
}
